.gridster > ul > li {
/*
  background-color: #fff;
  list-style-type: none;
  padding: 0px 3px;

  -moz-border-radius: 12px;
  border-radius: 12px;

  */
  list-style-type: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-top-width: 0;
  border-bottom-width: 2px;
  min-height: 20px;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;


}

.gridster > ul > li > .widgetremove {
  display: none;
  float: right;
  margin-right: 2px;
}

.gridster > ul > li:hover > .widgetremove {
  display: inherit;
  float: right;
}

.widget_state_count {
  background-color:#47bbb3 !important;
  text-align: center;
}

.widget_state_count > h1 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.widget_state_count > h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 16px;
}

.widget_ticket_list {
  background-color:#fff;
  overflow:auto;
}

.widget_ticket_list > .box-header > h1 {
  margin-left: 4px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

