<template name="tickets">
  {{#if showCreateTicketDialog}}
    {{> createTicketDialog}}
  {{/if}}

  <div class="row">
    <div class="span12">
      <div class="box">
        <div class="box-header">
          <div class="pagetitle">Tickets</div>
          <div class="btn-group pull-right">
            <button class="btn new-ticket">
              <i class="icon-plus"></i> Create Ticket
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span10">
      {{> ticketlist}}
    </div>
  </div>

  <div class="row">
    <div class="span10">
      <div class="box">
        <div class="box-header">
          <div class="pagetitle"></div>
          <div class="btn-group pull-right">
            {{#if ticketsReady}}
              <button class="btn load-more">Load More</button>
            {{else}}
              <div>{{> spinner}}</div>
            {{/if}}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  

</template>

<template name="ticketlist">
  <div class="box">
    <div class="box-header">
      <div class="pagetitle">All Tickets</div>
      <div class="btn-group pull-right">
        <input id="ticketsearchfilter" class="searchfilter" type="text" placeholder="Search..."/>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="box-body">
      <table class="table table-striped">
        <tbody>
        {{#each tickets}}
        <tr class="{{ticketstatus}}">
          <td><strong><a href="/ticket/{{_id}}">{{subject}}</a></strong></td>
          <td><small>
            {{#each requesters}}
              {{getUserEmail this}}, 
            {{/each}}
          </small></td>
          <td>{{ticketstatus}}</td>
          <td>
            {{#with modified}}
              <span title="{{this}}"><small>{{>age}}</small></span>
            {{/with}}
          </td>
          <td>
            {{#with created}}
              <span title="{{this}}"><small>{{>age}}</small></span>
            {{/with}}
          </td>
        </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>

<template name="createTicketDialog">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Create Ticket</h3>
    </div>

    <div class="modal-body">
      {{#if error}}
        <div class="alert alert-error">{{error}}</div>
      {{/if}}

      <label>Subject</label>
      <input id="ticketsubject" type="text" class="subject span5">

      <label>Requesters</label>          
      <input id="requesterlist" style="width:100%" type="hidden" class="ticketrequester"/>
      <div class="help-block">To add a brand new requester, type their email address followed by a space.</div>
      <label>Group</label>
      <input class="ticketgroup" style="width:100%"/>

      <div class="help-block">All selected groups will be able to see this ticket.</div>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Next</a>
    </div>
  </div>
</template>
