<template name="tickets">
  {{#if showCreateTicketDialog}}
    {{> createTicketDialog}}
  {{/if}}

  <div class="row">
    <div class="span12">
      <div class="box">
        <div class="box-header">
          <div class="pagetitle">Tickets</div>
          <div class="btn-group pull-right">
            <button class="btn new-ticket">
              <i class="icon-plus"></i> Create Ticket
            </button>
            {{#if isRequesterInMultipleGroups}}
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select Group
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-under">
                {{#each requesterGroups}}
                  <li><a class="groupselector" id="{{_id}}" href="#">{{name}}</a></li>
                {{/each}}
              </ul>
            </div>
            {{/if}}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span10">
      {{> ticketlist}}
    </div>
    <div class="span2">
      {{> statefilter}}
      {{> ticketsortorder}}
    </div>
  </div>

  <div class="row">
    <div class="span10">
      <div class="box">
        <div class="box-header">
          <div class="pagetitle"></div>
          <div id="ticketlistfooter_items" class="btn-group pull-right">
            {{#each ticketlistfooter_items}}
              {{> ticketlistfooter_template}}
            {{/each}}
            <button class="btn pull-right load-more">
            {{#if ticketsReady}}Load More
            {{else}}<div class="loading">&nbsp;</div>
            {{/if}}
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="ticketlist">
  <div class="box">
    <div class="box-header">
      <div class="pagetitle">All Tickets</div>
      <div class="btn-group pull-right">
        <input id="ticketsearchfilter" class="searchfilter" type="text" placeholder="Search..."/>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="box-body">
      <div class="ticket-list">
        {{> selectall}}
        {{#each tickets}}
          {{> ticketrow}}
        {{/each}}
        {{> selectall}}
      </div>
    </div>
  </div>
</template>

<template name="selectall">
  <div class="ticket-item">
    <label class="checkbox selectall-label">
      <input type="checkbox" class="selectall-check"> Select all
    </label>
  </div>
</template>

<template name="ticketrow">
  <div class="ticket-item">
    <input type="checkbox" class="ticket-item-check" name="tickets[]" value="{{this._id}}">
    <span class="ticket-item-id">{{this._id}}
    {{#if currentUser.profile.isStaff}}
      {{#if isNotGrouped this._id}}
        <br/>
        <span class="ticket-label label label-warning">Not grouped</span>
      {{/if}}
    {{/if}}
    </span>
    <h4 class="ticket-item-name">
      {{#with ticketstatus}}
      <span title="{{name}}" class="ticket-item-icon"><i class="{{icon}}" style="color:#{{colour}}"></i></span>
      {{/with}}
      <a href="/ticket/{{_id}}" class="js-navigation-open">{{subject}}</a>
    </h4>
    <div class="ticket-item-meta">
      <div>
        Opened {{#with created}}<span title="{{this}}">{{>age}}</span>{{/with}} 
        by 
        {{#if currentUser.profile.isStaff}}
          {{{getGroupOrRequester}}},
        {{else}}
          {{getRequesters this._id false}},
        {{/if}}
        modified {{#with modified}}<span title="{{this}}">{{>age}}</span>{{/with}}{{#with lastModifiedBy}} by {{this}}{{/with}}.
      </div>
    </div>
    <div class="clearfix"></div>
    {{#each ticketlistitemfooter_items}}
      {{> ticketlistitemfooter_template ticketlistitemfooter_data}}
    {{/each}}

    <div class="clearfix"></div>
  </div>
</template>

<template name="ticketrowsimple">
  <div class="ticket-item">
    <span class="ticket-item-id">{{this._id}}<br/>
    {{#if currentUser.profile.isStaff}}
      {{#if isNotGrouped this._id}}
        <span class="ticket-label label label-warning">Not grouped</span>
      {{/if}}
    {{/if}}
    </span>
    <h4 class="ticket-item-name">
      {{#with ticketstatus}}
      <span title="{{name}}" class="ticket-item-icon"><i class="{{icon}}" style="color:#{{colour}}"></i></span>
      {{/with}}
      <a href="/ticket/{{_id}}" class="js-navigation-open">{{subject}}</a>
    </h4>
    <div class="ticket-item-meta">
      <div>
        Opened {{#with created}}<span title="{{this}}">{{>age}}</span>{{/with}} 
        by 
        {{#if currentUser.profile.isStaff}}
          {{getGroupOrRequester}}
        {{else}}
          {{getRequesters this._id false}}
        {{/if}}, 
        modified {{#with modified}}<span title="{{this}}">{{>age}}</span>{{/with}}.
      </div>
    </div>
  </div>
</template>

<template name="ticketrowselecter">
  <div class="ticket-item">
    <input type="radio" class="ticket-item-check" name="tickets" value="{{this._id}}">
    <h4 class="ticket-item-name-wide">
      {{#with ticketstatus}}
      <span title="{{name}}" class="ticket-item-icon"><i class="{{icon}}" style="color:#{{colour}}"></i></span>
      {{/with}}
      {{subject}}
    </h4>
    <div class="ticket-item-meta">
      <div>
        Opened {{#with created}}<span title="{{this}}">{{>age}}</span>{{/with}} 
      </div>
    </div>
  </div>
</template>

<template name="createTicketDialog">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Create Ticket</h3>
    </div>

    <div class="modal-body">
      {{#if error}}
        <div class="alert alert-error">{{error}}</div>
      {{/if}}

      <label>Subject</label>
      <input id="ticketsubject" type="text" class="subject span5">

      <label>Requesters</label>
      <input id="requesterlist" style="width:100%" type="hidden" class="ticketrequester"/>

      <div class="help-block">To add a brand new requester, type their email address followed by a space.</div>

      {{#if displayGroups}}
        <div>
          <label>Group</label>
          <input class="ticketgroup" style="width:100%"/>
          <div class="help-block">All selected groups will be able to see this ticket.</div>
        </div>
      {{else}}
        <div style="display:none;"></div>
      {{/if}}

      <form id="ticketcreateextrafields"></form>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Next</a>
    </div>
  </div>
</template>

<template name="statefilter">
  <div class="box">
    <div class="box-header">
      <div class="pagetitle">Filter</div>
      <div class="clearfix"></div>
    </div>
    <div class="box-body">
      <table>
      {{#each states}}
      <tr id="{{_id}}" class="{{selected}} filterrow">
        <td id="{{_id}}">
          <span id="{{_id}}" class="ticket-item-icon"><i id="{{_id}}" class="{{icon}}" style="color:#{{colour}}"></i></span>
        </td>
        <td id="{{_id}}" class="{{selected}}">{{name}}</td>
      </tr>
      {{/each}}
      </table>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<template name="ticketsortorder">
  <div class="box">
    <div class="box-header">
      <div class="pagetitle">Sort</div>
      <div class="clearfix"></div>
    </div>
    <div class="box-body">

      <input type="hidden" id="sortfieldvarname" value="selected_sort_field">
      <input type="hidden" id="sortordervarname" value="selected_sort_order">

      <div id="sortoldest" class="{{ticketlist_sort_selected 'modified' '1'}} sortrow">
        <span id="sortoldest" class="ticket-item-icon"><i class="icon-arrow-up" id="sortoldest"></i> Oldest First</span>
      </div>

      <div id="sortnewest" class="{{ticketlist_sort_selected 'modified' '-1'}} sortrow">
        <span id="sortnewest" class="ticket-item-icon"><i class="icon-arrow-down" id="sortnewest"></i> Newest First</span>
      </div>
      <span id="ticketlist_sort_filter">
        {{#each ticketlist_sort_filter}}
          {{> ticketlist_sort_filter_template}}
        {{/each}}
      </span>
      <div class="clearfix"></div>
    </div>
  </div>
</template>