<template name="editTicketDialog">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Edit Ticket</h3>
    </div>

    <div class="modal-body">
      {{#with ticket}}
      <label>Subject</label>
      <input id="ticketsubject" type="text" value="{{subject}}" class="subject span5">

      <label>Requesters</label>
      <input id="requesterlist" style="width:100%" type="hidden" class="ticketrequester"/>
      <div class="help-block">To add a brand new requester, type their email address followed by a space.</div>

      <label>Group</label>
      <input class="ticketgroup" style="width:100%"/>
      <div class="help-block">All selected groups will be able to see this ticket.</div>

      <select class="ticketstatus">
        {{#each ticketstatus}}
        <option value="{{name}}" {{selectedstatus name}}>{{name}}</option>
        {{/each}}
      </select>

      <form id="ticketeditextrafields">
        {{#each ticketeditformfields}}
        {{> ticketeditformfields_template}}
        {{/each}}
      </form>

      {{/with}}
    </div>

    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Save</a>
    </div>
  </div>
</template>
