<template name="ticket">
  {{#if showEditTicketDialog}}
    {{> editTicketDialog}}
  {{/if}}

  {{#with ticket}}
  <div class="row">
    <div class="span10">
      <div class="box">
        <div class="box-header">
          <div class="ticket-subject">{{subject}}</div>
          <div class="box-topright" title="{{ticketcreated}}">{{#with ticketcreated}}{{>age}}{{/with}}</div>
          <div class="clearfix"></div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="span1"><label>Requesters:</label></div>
            <div class="span8">{{getRequesters _id}}</div>
          </div>

          {{#if currentUser.profile.isStaff}}
          <div class="row">
            <div class="span1"><label>Groups:</label></div>
            <div class="span8">{{getGroups}}</div>
          </div>
          {{/if}}

          <div class="row">
            <div class="span1"><label>Status:</label></div>
            {{#with ticketstatus}}
            <div class="span8"><span title="{{name}}" class="ticket-item-icon"><i class="{{icon}}" style="color:#{{colour}}"></i> {{name}}</span></div>
            {{/with}}
          </div>
        </div>
        {{#if currentUser.profile.isStaff}}
        <div class="box-footer">
          <div class="btn-group pull-right">
            {{#each ticketfooter_items}}
              {{{template}}}
            {{/each}}
            <button class="btn edit-ticket"><i class="icon-wrench"></i> Edit</button>
            </div>
          <div class="clearfix"></div>
        </div>
        {{/if}}
      </div>

      {{#each posted_replies}}
        {{#if displayreply type}}
        {{> replies}}
        {{/if}}
      {{/each}}
    
      <div class="box">
        <div class="box-header">
        </div>
        <div class="box-body">
          <input type="hidden" class="ticketreplyId" value="{{unposted_reply._id}}">
          <input type="hidden" class="ticketreplylevel" value="{{unposted_reply.level}}">
          <textarea id="replybody" rows="10" class="ticketreplybody span9">{{unposted_reply.body}}</textarea>

          <form id="ticketreplyextrafields">
          {{#each replyentryformfields unposted_reply._id}}
            {{{template}}}
          {{/each}}
          </form>

          {{#each replyentryfooter_items unposted_reply._id}}
            {{{template}}}
          {{/each}}
        </div>
        <div class="box-footer">
          <div class="btn-group pull-right">
            {{#each ticket_reply_button}}
              {{{html}}}
            {{/each}}
            <button class="btn post-reply"><i class="icon-edit"></i> Reply</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>


    </div>

    <div class="span2">
      {{#each sidebaritems}}
        {{{template}}}
      {{/each}}
    </div>
  </div>
  {{/with}}
</template>

<template name="replies">
  {{{template}}}
</template>

<template name="ticketreply-reply">
  {{#with reply}}
  <div class="box">
    <div class="box-header {{type}} {{level}}">
      <div class="reply-header">
        <strong>{{getUserEmail posted_by}}</strong>
        {{#each reply_header_items _id}}
         {{{template}}}
        {{/each}}
      </div>
      <div class="box-topright" title="{{created}}">{{#with created}}{{>age}}{{/with}}</div>
      <div class="clearfix"></div>
    </div>
    <div class="box-body {{type}}">
      {{{body}}}
    </div>
    <div class="box-footer {{type}}">
      {{#each footer_items _id}}
        {{{template}}}
      {{/each}}
    </div>
  </div>
  {{/with}}
</template>

<template name="ticketreply-event">
  {{#with reply}}
  <div class="box">
    <div class="box-header {{type}}">
      <div class="reply-header">
        <strong>{{{body}}}</strong>
        {{#each reply_header_items _id}}
          {{{template}}}
        {{/each}}
      </div>
      <div class="box-topright" title="{{created}}">{{#with created}}{{>age}}{{/with}}</div>
      <div class="clearfix"></div>
    </div>
  </div>
  {{/with}}
</template>

<template name="editTicketDialog">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Edit Ticket</h3>
    </div>

    <div class="modal-body">
      {{#with ticket}}
      <label>Subject</label>
      <input id="ticketsubject" type="text" value="{{subject}}" class="subject span5">

      <label>Requesters</label>          
      <input id="requesterlist" style="width:100%" type="hidden" class="ticketrequester"/>
      <div class="help-block">To add a brand new requester, type their email address followed by a space.</div>

      <label>Group</label>
      <input class="ticketgroup" style="width:100%"/>
      <div class="help-block">All selected groups will be able to see this ticket.</div>

      <select class="ticketstatus">
        {{#each ticketstatus}}
          <option value="{{name}}" {{selectedstatus name}}>{{name}}</option>
        {{/each}}
      </select>

      {{/with}}
    </div>

    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Save</a>
    </div>
  </div>
</template>