<template name="ticket">
  {{#if showEditTicketDialog}}
    {{> editTicketDialog}}
  {{/if}}

  <div class="row">
    <div class="span10">
      {{> ticketheader}}

      {{> ticketreplies}}

      {{> ticketreplybox}}
    </div>

    <div class="span2">
      {{#each sidebaritems}}
        {{> sidebaritems_template}}
      {{/each}}
    </div>
  </div>
</template>

<template name="ticketheader">
{{#with ticket}}
  <div class="box">
    <div class="box-header">
      <div class="ticket-subject">{{subject}}</div>
      <div class="box-topright" title="{{ticketcreated}}">{{#with ticketcreated}}{{>age}}{{/with}}</div>
      <div class="clearfix"></div>
      {{#each tickettopright _id}}
         {{> tickettopright_template}}
      {{/each}}

    </div>
    <div class="box-body">
      <div class="row">
        <div class="span1"><label>Requesters:</label></div>
        <div class="span8">{{getRequesters _id}}</div>
      </div>

      {{#if currentUser.profile.isStaff}}
      <div class="row">
        <div class="span1"><label>Groups:</label></div>
        <div class="span8">{{{getGroups}}}</div>
      </div>
      {{/if}}

      <div class="row">
        <div class="span1"><label>Status:</label></div>
        {{#with ticketstatus}}
        <div class="span8"><span title="{{name}}" class="ticket-item-icon"><i class="{{icon}}" style="color:#{{colour}}"></i> {{name}}</span></div>
        {{/with}}
      </div>
    </div>
    <div class="box-footer">
      <div class="btn-group pull-right">
        {{#each ticketfooter_items}}
          {{> ticketfooter_items_template}}
        {{/each}}
        {{#if currentUser.profile.isStaff}}
        <button class="btn edit-ticket"><i class="icon-wrench"></i> Edit</button>
        {{/if}}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{{/with}}
</template>

<template name="ticketreplies">
  <div id='ticketreplies'>
    {{#each posted_replies}}
      {{> posted_reply_template posted_reply_data}}
    {{/each}}

  </div>
</template>

<template name="ticketreplybox">
    {{#if currentUser}}
    <div class="box">
      <div class="box-header">
      </div>
      <div class="box-body">
        <input type="hidden" class="ticketreplyId" value="{{unposted_reply._id}}">
        <input type="hidden" class="ticketreplylevel" value="{{unposted_reply.level}}">

        <div class="replybodycontainer">
          {{> sharejsText docid=documentId id="ticketreply-editor" }}
          <button class="clearreply" type="submit"><i class="icon-trash"></i> Clear</button>
        </div>

        <form id="ticketreplyextrafields">
          {{#each replyentryformfields unposted_reply._id}}
            {{> replyentryformfields_template replyentryformfields_data}}
          {{/each}}
        </form>

        {{#each replyentryfooter_items unposted_reply._id}}
        {{> replyentryfooter_items_template replyentryfooter_items_data}}
        {{/each}}
      </div>
      <div class="box-footer">
        <div class="btn-group pull-right">
          {{#each ticket_reply_button}}
          {{{html}}}
          {{/each}}
          <button class="btn post-reply"><i class="icon-edit"></i> Reply</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    {{/if}}
</template>

<template name="ticketreply-reply">
  {{#with reply}}
  <div class="box">
    <div class="box-header {{type}} {{level}}">
      <div class="reply-header">
        <strong>{{getUserEmail posted_by}}</strong>
        {{#each reply_header_items _id}}
          {{> reply_header_items_template reply_header_items_data}}
        {{/each}}
      </div>
      <div class="box-topright" title="{{created}}">{{#with created}}{{>age}}{{/with}}</div>
      <div class="clearfix"></div>
    </div>
    <div class="box-body {{type}}">
      {{{body}}}
    </div>
    <div class="box-footer {{type}}">
      {{#each footer_items _id}}
        {{> footer_items_template footer_items_data}}
      {{/each}}
    </div>
  </div>
  {{/with}}
</template>

<template name="ticketreply-event">
  {{#with reply}}
  <div class="box">
    <div class="box-header {{type}}">
      <div class="reply-header">
        <strong>{{{body}}}</strong>
        {{#each reply_header_items _id}}
          {{> reply_header_items_template reply_header_items_data}}
        {{/each}}
      </div>
      <div class="box-topright" title="{{created}}">{{#with created}}{{>age}}{{/with}}</div>
      <div class="clearfix"></div>
    </div>
  </div>
  {{/with}}
</template>
