<template name="ticket">
  {{#if showEditTicketDialog}}
    {{> editTicketDialog}}
  {{/if}}

  {{#with ticket}}
  <div class="row">
    <div class="span10">
      <div class="well well-small">
        <h3 class="ticketsubject">{{subject}}</h3>
        {{refreshEvery "15"}}
        <small><span>Created:   </span><span title="{{ticketcreated}}">{{ticketage}}</span><br/></small>
        <label>Requesters:</label>
        {{#each requesters}}
          <span>{{getUserEmail this}}</span><br/>
        {{/each}}
        <label>Status:</label>{{status}}</br>

        {{#if currentUser.profile.isStaff}}
        <hr/>
        <div class="btn-group pull-right">
          <button class="btn edit-ticket"><i class="icon-wrench"></i> Edit</button>
        </div>
        {{/if}}
        <div class="clearfix"></div>
      </div>
      
      {{#each posted_replies}}
        {{#if displayreply type}}
        <div class="well well-small {{type}}">
          {{#if displayname type}}
            <p><strong>{{getUserEmail posted_by}}</strong>
          {{else}}
            <p><strong>Ticket Event</strong>
          {{/if}}
          {{#each reply_header_items _id}}
            {{{template}}}
          {{/each}}

          <span class="pull-right" title="{{replycreated}}">{{replyage}}</span></p>
          {{{body}}}
          {{#each footer_items _id}}
            {{{template}}}
          {{/each}}
        </div>
        {{/if}}
      {{/each}}
    
      <div class="well well-small">
        <input type="hidden" class="ticketreplyId" value="{{unposted_reply._id}}">
        <input type="hidden" class="ticketreplylevel" value="{{unposted_reply.level}}">
        <textarea id="replybody" rows="10" class="ticketreplybody span9">{{unposted_reply.body}}</textarea>

        <form id="ticketreplyextrafields">
        {{#each replyentryformfields unposted_reply._id}}
          {{{template}}}
        {{/each}}
        </form>

        {{#each replyentryfooter_items unposted_reply._id}}
          {{{template}}}
        {{/each}}

        <hr/>
        <div class="btn-group pull-right">
          {{#each ticket_reply_button}}
            {{{html}}}
          {{/each}}
          <button class="btn post-reply"><i class="icon-edit"></i> Reply</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="span2">
      {{#each sidebaritems}}
        {{{template}}}
      {{/each}}
    </div>
  </div>
  {{/with}}
</template>

<template name="editTicketDialog">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Edit Ticket</h3>
    </div>

    <div class="modal-body">
      {{#with ticket}}
      <label>Subject</label>
      <input id="ticketsubject" type="text" value="{{subject}}" class="subject span5">

      <label>Requesters</label>          
      <input id="requesterlist" style="width:100%" type="hidden" class="ticketrequester"/>
      <div class="help-block">To add a brand new requester, type their email address followed by a space.</div>

      <select class="ticketstatus">
        {{#each ticketstatus}}
          <option value="{{name}}" {{selectedstatus name}}>{{name}}</option>
        {{/each}}
      </select>

      {{/with}}
    </div>

    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Save</a>
    </div>
  </div>
</template>