body {
  padding-top: 25px;
  background-color: #e5e5e5 !important;
}

blockquote p {
  margin-bottom: 0;
  
  font-size: 12px !important;
  font-weight: 0 !important;
  line-height: 1.15 !important;

}

.pagetitle {
  line-height: 30px;
  font-size: 24.5px;
  font-weight: bold;
  float: left;
}

tr.closed {
 border-left: 8px solid #fcc;
}

tr.new {
  border-left: 8px solid #cfc;
}

label {
  font-weight: bold;
}

.newrequester {
  width: 200px;
}

.highlight {
  background-color: #E0FFE0;
}

.box {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  min-height: 20px;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  margin-bottom: 20px;
}

.box-header {
  background-color: #fff;
  vertical-align: top;
  padding: 9px;
}

.box-body {
  background-color: #fff;
  border: 0 solid #d8d8d8;
  border-bottom-width: 1px;
  vertical-align: top;
  padding: 9px;
}

.box-footer {
  min-height: 0px;
  background-color: #f8f8f8;
  padding: 9px;
}

.box-topright {
  float: right;
  position: relative;
  top: 0px;
}

.reply-header {
  float:left;
}

.replybodycontainer {

}

.replybodycontainer input {

}

.replybodycontainer button {
  vertical-align: top;
}

.ticket-subject {
  float:left;
  line-height: 30px;
  font-size: 24.5px;
  font-weight: bold;
}

.box-header.staff {
  background-color: #BBC4FF;
}

.box-header.requester {
  background-color: #FFE6C7;
}

.event {
  background-color: #E0E0FF;
}

.comment {
  background-color: #eee;
  color: #707070;
}

.ticketrequester {
  width: 210px;
}

.help-block {
  font-size: 11px;
}

.ticketsubject {
  line-height: 5px;
}

.sidebarheader {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #777;
  text-align: center;
}

.statusvalue {
  padding-top: 15px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.statusunits {
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

::-webkit-scrollbar-button { 
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

a {
  color: #4183c4;
  text-decoration: none;
}

.ticket-list {
  margin: 0;
}

.status-icon {
  float: left;
  margin-top: 1px;
  margin-left: -24px;
}

.ticket-item {
  position: relative;
  display: block;
  margin-bottom: -1px;
  padding: 8px 10px 10px 40px;
  border: 1px solid #e5e5e5;
}

.ticket-item-check {
  position: absolute;
  left: 12px;
  box-sizing: border-box;
  padding: 0;
}

.event-item-level {
  position: absolute;
  left: 12px;
  box-sizing: border-box;
  padding: 0;
}

.ticket-item-icon {
  float: left;
  margin-top: 1px;
  margin-left: -6px;
  margin-right: 8px;
}

.ticket-label {
  float: right;
}

.ticket-item-id {
  position: relative;
  top: 2px;
  float: right;
  margin-left: 12px;
  font-size: 13px;
  color: #999;
}

.ticket-item-name {
  margin: 0 160px 0 0;
  font-size: 15px;
  line-height: 1.3;
  word-wrap: break-word;
}

.ticket-item-name-wide {
  margin: 0;
  font-size: 15px;
  line-height: 1.3;
  word-wrap: break-word;
}

.ticket-item-name a {
  color: #333333;
}

.ticket-item-meta {
  font-size: 11px;
  line-height: 17px;
  list-style-type: none;
  overflow: hidden;
  color: #999999;
  margin: 0;
}

.ticket-item-meta a {
  color: #000;
}

.eventmessage {
  color: #000;
}

.right {
  float: right;
}

.dropdown-menu>div>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu>div>a:hover, .dropdown-menu>div>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  text-decoration: none;
  color: #ffffff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu {
  top: -40px !important;
}

.dropdown-under {
  top: -3px !important;
}

.filterselected {
  color: #000000;
  cursor: pointer;
}

.filterunselected {
  color: #ADADAD;
  cursor: pointer;
}

.sortselected {
  color: #000000;
  cursor: pointer;
}

.sortunselected {
  color: #ADADAD;
  cursor: pointer;
}

.loading {
  line-height: 1;
  background-image: url(data:image/gif;base64,R0lGODlhEAALAPQAAP///wAAANra2tDQ0Orq6gYGBgAAAC4uLoKCgmBgYLq6uiIiIkpKSoqKimRkZL6+viYmJgQEBE5OTubm5tjY2PT09Dg4ONzc3PLy8ra2tqCgoMrKyu7u7gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA);
  width: 16px;
  background-position: center center;
  background-repeat: no-repeat;
}

.statboxcontainer {
  color: #333;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  border: none;
  width: 130px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 9px;
  margin-bottom: 9px;
  position: relative;
  padding: 10px 20px;
  min-width: 130px;
  min-height: 76px;
  font-size: 0.75em;
  float: left;
}

.statboxtitle {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
}

.statbox {

}

.statboxtext {
  margin-top: 3px;
  margin-right: 0;
  line-height: 1.5em;
  text-align: center;
}

.statboxvalue {
  font-size: 2rem;
  line-height: 1em;
  margin-bottom: 5px;
}

.statboxoptions {
  float: right;
  top: -7px;
  right: -12px;
  color: #f000000;
  opacity: 0.2;
  position: relative;
}

.statboxoptions:hover {
  opacity: 0.8;
}

.statboxsubtext {
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  line-height: 1em;
}

.statboxsubtext-small {
  font-size: 0.59rem;
  font-weight: normal;
  text-transform: none;
  line-height: 1em;
}

.btn-fix {
  top: -5px;
}

.selectall-check {
  position: absolute;
  left: 12px;
  box-sizing: border-box;
  padding: 0;
  margin-left: 0 !important;
}

.selectall-label {
  padding-left: 0 !important;
}