body {
  padding-top: 50px;
}

tr.closed {
 border-left: 8px solid #fcc;
}

tr.new {
  border-left: 8px solid #cfc;
}

.event {
  background-color: #fee;
  color: #999fee;
}

label {
  font-weight: bold;
}

.newrequester {
  width: 200px;
}

.ticketrequester {
  width: 210px;
}

.help-block {
  font-size: 11px;
}

.ticketsubject {
  line-height: 5px;
}

.sidebarheader {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #777;
  text-align: center;
}

.statusvalue {
  padding-top: 15px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.statusunits {
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}