<template name="nav">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="/">rrequest</a>
      <ul class="nav">
        {{#if is_active 'dashboard'}}
        <li class="active"><a href="/">Dashboard</a></li>
        {{else}}
        <li><a href="/">Dashboard</a></li>
        {{/if}}

        {{#if is_active 'tickets'}}
        <li class="active"><a href="/tickets">Tickets</a></li>
        {{else}}
        <li><a href="/tickets">Tickets</a></li>
        {{/if}}

        {{#if currentUser.profile.isStaff}}
          {{#if is_active 'groups'}}
          <li class="active"><a href="/groups">Groups</a></li>
          {{else}}
          <li><a href="/groups">Groups</a></li>
          {{/if}}
        {{/if}}

        {{#if currentUser.isAdmin}}
          {{#if is_active 'users'}}
          <li class="active"><a href="/users">Users</a></li>
          {{else}}
          <li><a href="/users">Users</a></li>
          {{/if}}
        {{/if}}
      </ul>
      <ul class="nav pull-right">
        <li><a>{{loginButtons align="right"}}</a></li>
      </ul>

    </div>
  </div>
</template>