<template name="nav">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="/">{{site_name}}</a>
      <ul class="nav">
        {{#each navbar}}
        {{#if user_visible user_level}}
          {{#if is_active name}}
            <li class="active"><a href="{{pageurl}}">{{display_name}}</a></li>
            {{else}}
            <li><a href="{{pageurl}}">{{display_name}}</a></li>
          {{/if}}
        {{/if}}
        {{/each}}
      </ul>
      <ul class="nav pull-right">
        <li><a>{{> loginButtons align="right"}}</a></li>
      </ul>

    </div>
  </div>
  <div class="clearfix"></div>
</template>
